.root {
  height: 100%;

  position: relative;

  display: flex;
  justify-content: flex-start;
  align-items: center;

  gap: 48px;

  background-color: rgba(255, 255, 255, 4%);
  backdrop-filter: blur(10px);

  padding-left: 123px;
  padding-right: 165px;
}

.full-height {
  height: 100%;
}

.link {
  display: block;

  font-size: 16px;

  color: var(--white);

  text-transform: uppercase;

  padding-top: 39px;

  transition: border 100ms ease-out;

  &:hover {
    color: var(--white);

    border-bottom: 3px solid rgba(255, 255, 255, 50%);
  }

  &-bold {
    font-weight: bold;
  }
}

.line {
  position: absolute;

  left: -443px;

  height: 1px;
  width: 473px;

  background-color: rgba(255, 255, 255, 25%);
  backdrop-filter: blur(10px);
}
