.root {
  height: 96px;
  width: 100%;

  position: absolute;

  top: 40px;

  z-index: 5;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-left: 55px;

  @media screen and (max-width: 1300px) {
    top: 0;

    padding-left: 39px;
  }

  @media screen and (max-width: 615px) {
    justify-content: space-between;

    padding-left: 24px;
  }
}

.container {
  height: 100%;

  position: relative;
}

.navigation {
  height: 100%;

  background-color: rgba(255, 255, 255, 4%);
  backdrop-filter: blur(10px);

  padding-left: 123px;
  padding-right: 165px;

  @media screen and (max-width: 1300px) {
    padding: 0 48px;
  }

  @media screen and (max-width: 615px) {
    height: fit-content;
    width: fit-content;

    padding: 0;
    background-color: transparent;
    backdrop-filter: none;

    overflow-x: hidden;
  }
}

.burger {
  @media screen and (min-width: 615px) {
    display: none;
  }
  @media screen and (max-width: 615px) {
    position: absolute;
    right: 24px;

    z-index: 3;

    background-color: transparent;

    padding: 0;
  }
}

.svg {
  height: 24px;
  width: 21px;
}
