.root {
  position: relative;

  height: 100vh;
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  padding: 387px 165px 131px;

  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('./assets/background-home-desktop.jpg');

  overflow: auto;

  @media screen and (max-width: 1300px) {
    flex-direction: column;
    align-items: center;

    padding: 96px 159px 90px;

    background-image: url('./assets/background-home-tablet.jpg');
  }

  @media screen and (max-width: 615px) {
    background-image: url('./assets/background-home-mobile.jpg');

    padding: 112px 24px 48px;
  }
}

.container {
  width: 450px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  gap: 24px;

  @media screen and (max-width: 1300px) {
    margin-top: 106px;

    align-items: center;
  }

  @media screen and (max-width: 615px) {
    width: auto;

    text-align: center;

    margin: 0;
  }
}
