.option {
  height: 100%;

  display: flex;

  justify-content: center;
  align-items: center;
  gap: 12px;

  color: var(--gray-violet);

  transition: border 100ms ease-out;

  border-bottom: 3px solid transparent;

  &.vertical {
    @media screen and (max-width: 615px) {
      justify-content: flex-start;

      border-bottom: none;

      border-right: 4px solid transparent;

      &:hover {
        @media screen and (max-width: 615px) {
          border-bottom: none;

          border-right: 4px solid rgba(255, 255, 255, 50%);
        }
      }
    }
  }

  cursor: pointer;

  &:hover {
    border-bottom: 3px solid rgba(255, 255, 255, 50%);
  }

  &-selected {
    color: var(--white);

    border-bottom: 3px solid var(--white);

    &.vertical {
      @media screen and (max-width: 615px) {
        border-bottom: none;

        border-right: 4px solid var(--white);
      }

      &:hover {
        @media screen and (max-width: 615px) {
          border-bottom: none;

          border-right: 4px solid var(--white);
        }
      }
    }

    &:hover {
      border-bottom: 3px solid var(--white);
    }
  }
}
