.heading {
  font-family: 'Bellefair', sans-serif;

  color: var(--white);

  text-transform: uppercase;

  &1 {
    font-size: 150px;
  }

  &2 {
    font-size: 100px;
  }

  &3 {
    font-size: 56px;

    line-height: 1;
  }

  &4 {
    font-size: 32px;

    color: var(--white);
    opacity: 0.5042;
  }

  &5 {
    font-size: 28px;
    letter-spacing: 4.72px;

    text-transform: uppercase;
  }
}

.subheading {
  text-transform: uppercase;
  &1 {
    font-family: 'Bellefair', sans-serif;

    font-size: 28px;

    color: white;
  }
  &2 {
    font-size: 14px;

    letter-spacing: 2.362px;
  }
}

.nav {
  font-size: 16px;
  letter-spacing: 2.7px;

  text-transform: uppercase;

  &-bold {
    font-weight: bold;
  }
}

.text {
  font-family: 'Barlow', sans-serif;

  font-size: 18px;
  line-height: 1.7;
}
