.root {
  width: 100%;

  display: flex;
  justify-content: flex-start;

  gap: 79px;

  padding-top: 28px;
  border-top: 1px solid #383b4b;
  margin-top: 54px;

  @media screen and (max-width: 1300px) {
    justify-content: space-around;
    gap: 0;

    margin-top: 49px;
  }

  @media screen and (max-width: 615px) {
    flex-direction: column;

    justify-content: flex-start;
    align-items: center;

    gap: 32px;

    padding-top: 32px;
    margin-top: 32px;
  }
}

.text-center {
  @media screen and (max-width: 615px) {
    text-align: center;
  }
}
